body {
    background-color: #f9f9f9;
}

.container {
    height: 100vh;
}

.card {
    max-width: 600px;
}

.secure-passcode {
    padding: 20px 20px 80px;
    border: thin dashed grey;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.buttons a {
    border-radius: 20px;
}
.buttons a:first-of-type {
    margin-bottom: .5em;
}

@media screen and (min-width: 576px) {
    .buttons a:first-of-type {
        margin-bottom: 0;
    }
}
